// Colors
$color_scroll_bar_track: #e6e6e6;
$color_scroll_bar_thumb: #c2c2c2;
$color-primary-green: #62cc50;
$color-primary-red: #ee4a4a;
$color-primary-blue: #1ea1f2;

// Fonts

$font_root: 14px;
$font_small: 12px;
$font_semi_big: 16px;
$font_big: 18px;

$font_family_root: 'Roboto', sans-serif;


// base page
$header-height: 55px;
$footer-height: 55px;
$header__content-width: 1400px;
$footer__content-width: 1400px;


// Backgrounds
$bg_primary_header: #222b33;
$bg_primary_footer: #222b33;
$bg_primary_body: #d6d6d6;
$bg_primary_white: #ffffff;

// Width

$min-width-1260: 1260px;
